<h3 class="text-center p-2">Imóveis - Inclusão</h3>

<!-- DADOS INICIAIS - header -->
<button id="btnDadosIniciaisCollapse" class="btn btn-primary w-100 rounded-bottom-0 text-start sem-efeitos-de-hover"
    type="button" data-bs-toggle="collapse" data-bs-target="#collapseDadosIniciais"
    aria-controls="collapseDadosIniciais">
    Dados Iniciais
    <span class="float-end">
        <i class="bi bi-chevron-down"></i>
    </span>
</button>

<!-- DADOS INICIAIS - body -->
<div class="collapse show" id="collapseDadosIniciais">
    <div class="card card-body rounded-top-0">
        <form [formGroup]="dadosIniciaisForm">
            <div class="row">

                <!-- TIPO -->
                <div class="col-md-3 col-12">
                    <label>Tipo</label>
                    <select class="form-select form-control" formControlName="tipo">
                        <option *ngFor="let tipo of tiposImovel" [value]="tipo.id">{{ tipo.descricao }}</option>
                    </select>
                </div>

                <div class="col-md-1 col-12"> </div>

                <!-- ÁREA -->
                <div class="col-md-3 col-12">
                    <label>Área</label>
                    <input type="text" class="form-control text-end" formControlName="area" somenteNumeros>
                </div>
            </div>

            <div class="row mt-2">

                <!-- QUARTOS -->
                <div class="col-md-3 col-12">
                    <label>Quartos</label>
                    <input type="text" class="form-control text-end" formControlName="quartos" somenteNumeros>
                </div>

                <div class="col-md-1 col-12"> </div>

                <!-- VAGAS GARAGEM -->
                <div class="col-md-3 col-12">
                    <label>Vagas Garagem</label>
                    <input type="text" class="form-control text-end" formControlName="vagasGaragem" somenteNumeros>
                </div>

            </div>
            <div class="row mt-2">

                <!-- VALOR -->
                <div class="col-md-3 col-12">
                    <label>Valor</label>
                    <input type="text" class="form-control text-end" formControlName="valor" duasDecimais>
                </div>

            </div>
        </form>
    </div>
</div>

<!-- CARACTERÍSTICAS - header -->
<button id="btnCaracteristicasCollapse"
    class="btn btn-primary w-100 rounded-bottom-0 text-start sem-efeitos-de-hover mt-3" type="button"
    data-bs-toggle="collapse" data-bs-target="#collapseCaracteristicas" aria-controls="collapseCaracteristicas">
    Características
    <span class="float-end">
        <i class="bi bi-chevron-down"></i>
    </span>
</button>

<!-- CARACTERÍSTICAS - body -->
<div class="collapse show" id="collapseCaracteristicas">
    <div class="card card-body rounded-top-0">

        <div class="row mt-2">

            <ng-container *ngFor="let col of [0,1,2]">
                <div class="col-md-3 col-12">
                    <ng-container *ngFor="let caracteristica of caracteristicas.slice(
                                                Math.floor(col * caracteristicas.length / 3),
                                                Math.floor((col + 1) * caracteristicas.length / 3)
                                            )">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" [value]="caracteristica.caracteristicaId"
                                [id]="'check' + caracteristica.caracteristicaId"
                                [(ngModel)]="caracteristica.selecionado">
                            <label class="form-check-label">
                                {{ caracteristica.descricao }}
                            </label>
                        </div>
                    </ng-container>
                </div>
            </ng-container>

        </div>

    </div>
</div>
<br>
<button type="submit" class="btn btn-primary" (click)="Salvar()">Salvar</button>

<app-toast></app-toast>