<nav *ngIf="totalPages > 1">
  <ul class="pagination justify-content-center">

    <li class="page-item" [class.disabled]="currentPage === 1">
      <a class="page-link" (click)="goTo(1)">Primeira</a>
    </li>

    <li class="page-item" [class.disabled]="currentPage === 1">
      <a class="page-link" (click)="goTo(currentPage - 1)">Anterior</a>
    </li>

    <li
      class="page-item"
      *ngFor="let page of pages"
      [class.active]="page === currentPage"
    >
      <a class="page-link" (click)="goTo(page)">
        {{ page }}
      </a>
    </li>

    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <a class="page-link" (click)="goTo(currentPage + 1)">Próxima</a>
    </li>

    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <a class="page-link" (click)="goTo(totalPages)">Última</a>
    </li>

  </ul>
</nav>
