.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* camada da imagem */
.background-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/imagens/imagem-fundo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.85; /* transparência SOMENTE da imagem */
    z-index: -1;
}

/* conteúdo acima da imagem */
.containerCustom {
    position: relative;
    z-index: 1;
}

.text-shadow {
  text-shadow: 0 2px 6px rgba(0,0,0,0.3);
  //color: #000 !important;
}
