<h3 class="text-center p-2">Cadastro de Unidade da Federação</h3>

<h4 class="text-end pb-2">
    <button type="button" class="btn btn-success me-2" (click)="ImportarIBGE()">Importar IBGE</button>
    <button type="button" class="btn btn-danger me-2" (click)="ExcluirTudo()">Excluir Tudo</button>
    <button type="button" class="btn btn-primary" (click)="Novo()">Novo</button>
</h4>

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th class="d-none" scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col" class="text-center" style=" width: 150px;">Ações</th>
        </tr>
    </thead>

    <tbody class="table-group-divider">
        <tr *ngFor="let uf of unidadesFederacao">
            <th class="d-none" scope="row">{{ uf.id }}</th>
            <td>{{ uf.nome }}</td>
            <td class="text-center">

                <!-- Ícone Editar -->
                <i class="bi bi-pencil-square text-primary fs-5 me-3" role="button" title="Editar"
                    (click)="Editar(uf.id)">
                </i>

                <!-- Ícone Excluir -->
                <i class="bi bi-trash text-danger fs-5" role="button" title="Excluir" (click)="Excluir(uf)">
                </i>

            </td>

        </tr>
    </tbody>

</table>

<app-toast></app-toast>